.grid-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #d7d7d7;
    margin: 1px;
    padding: 5px;
}

.grid-rows {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.grid-header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.grid-cell {
    padding: 0 5px 1px;
}

.grid-header-cell {
    border: 1px solid #e1e1e1;
    text-align: left;
    background-color: #fcfcfc;
    padding: 0 5px 0;
    user-select: none;
}

.grid-row-selected {
    background-color: #3399ff;
}

.grid-rows-container {
    padding-right: 15px;
    padding-left: 1px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.grid-row {
    cursor: pointer;
}